<header class="headerdiv">
    <div class="">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="">
                <img src="./assets/images/etrasit.PNG"
                    style="height: 30px; float: left; padding-left: 15px;padding-top: 5px;" id="logoImage">
                <div>
                    <span style="color: white;padding-left: 20px;font-size: 25px;">Service Query</span>
                    <!-- <mat-icon class="mat-logout" matTooltip="LogOut" >power_settings_new</mat-icon>
                    <span class="username" matTooltip="User Name">Kathy Banson Verrico L</span> -->
                </div>
            </div>

        </div>
    </div>
</header>