.example-spacer {
    flex: 1 1 auto;
  }

  .report-header{
    font-size: 30px;
    // padding-top:10px;
    padding-bottom: 30px;
    padding-left: 10px;
    font-weight: 900;
    align-content: center;
  }
  
  .main-body {
    //padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
    mat-form-field {
      width: 100%;
    }
  }
  
  .action {
    display: flex;
    gap: 5px;
  }

  
.table-header{
  background-color: #04519b !important;
  font-weight: bold !important;
  color: white;
}

mat-cell{
  display:flex !important;
  justify-content:left!important;
}

mat-header-cell {
  display:flex;
  justify-content:left;
}

mat-form-field{
  width: 800px !important;
}
.table-container{
    padding: 50px;
    padding-left: 50px;
}

.material-icons{
  font-size: 20px;
  padding-top: 8px;
}

