.content {
    padding-top: 10px;
  }
  .rowcoloumn {
    display: flex;
    gap: 10px !important;
  
    mat-form-field {
      width: 100%;
    }
  }
  
  .action {
    padding: 0px 25px 20px;
    button {
      flex: 1;
    }
  }
  