.dashboard-text-header{
    font-weight: 900;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.dashboard-text{
    padding: 25px;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .emp-header{
    font-size: 20px;
    //padding-top:20px;
    padding-bottom: 20px;
    font-weight: 900;
  }
  
  .main-body {
    //padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
    mat-form-field {
      width: 100%;
    }
  }
  
  .action {
    display: flex;
    gap: 5px;
  }

  
.table-header{
  // background-color: #04519b !important;
  background-color: #34b115 !important;
  font-weight: bold !important;
  color: white;
  font-weight: 900;
  font-size: 20px !important;
}

mat-cell{
  display:flex !important;
  justify-content:left!important;
  
}

mat-header-cell {
  display:flex;
  justify-content:left;
}

mat-form-field{
  width: 670px !important;
}

::ng-deep .mat-mdc-tab-labels{
    width: 30px;
    font-size: larger;
}
::ng-deep .mdc-tab--active {
    color:white;
    background-color: lightgray !important;
}

::ng-deep .mdc-tab__text-label ,.mat-mdc-tab .mdc-tab__text-label{
    font-weight: 900;
    font-size: larger;

}

table{
  background-color: aliceblue;
}
 tr,td{
  border: 1px solid #e0e0e0;
  text-align: center !important;
  vertical-align: middle !important;
}
.foldername{
  font-size: 18px;
  font-weight: bolder;
}

::ng-deep td.mat-cell, th.mat-header-cell {
  text-align: center;
  justify-content:center;
}

mat-form-field{
    width: 100% !important;
    min-width: 100px !important;
  }

  .class-red{
    background-color: red;
    color: white;
  }

 ::ng-deep .class-grey{
    background-color:lightgray !important;
    pointer-events: none !important;
  }
.td-rowcount{
    height: 40px;
    width: 90px;
    // padding: 10px;
    // padding-left: 15px;
    border-radius: 25px;
    align-items: center;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    font-size: 18px;

}
