span.mdc-button__label{
    color: white !important;
}
.menuitems{
    color: #fff;
    float: right;
    padding-right: 20px;
    
}
.nav-menu{
    min-height:30px;
    width:100%;
    background-color: #04519b;
    margin: 0;
    color: #fff;
    float: right;
}
.mat-mdc-focus-indicator:hover{
    background-color: lightpink !important;
}